name: Build Binary File

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: install dependencies
        run: npm install

      - name: build binary file
        run: npm run build

      - name: copy assets to bin directory 
        run: cp -R dist bin/ && cp -R db bin/

      - name: compress into zip files
        run: zip uptime-linux-64.zip bin/uptime bin/dist bin/db

      - name: log
        run: ls -lah